section#session
    .container
        .session__heading
            h2.title SESSION
        .session__block
            .session_lists
                div.session__list
                    div(class="session__list__baloon--engineer")
                        p.session__list__title 懇親会プレゼンWebGL 2.0時代の幕開け - ウェブのグラフィックスはどう変わるのか
                        p.session__list__detail WebGL 2.0 がいよいよやってきますね。Webの世界においても求められるグラフィックスの質やレベルは日々変わっていっています。今現在の WebGL の立ち位置と、これから先の WebGL の可能性,、そして WebGL 2.0 の登場で見えてくるそのさらに先の世界について考えてみましょう。
                    img.session__list__pict(src="../img/speaker/shono.jpg")
                    p.session__list__name 庄埜　詩織
                    a.session__list__link(href="" target="_blank") <i class="fa fa-link" aria-hidden="true"></i>
                    p.session__list__profile 大阪のWeb制作会社でプログラマーとして働いています。

        .session__link-area
            .btn
                a(href="/")
                    span TOP に戻る
