doctype html
html(lang="ja")
    include ../_head.jade
    body
        .background
        include ../top/_sec_share.jade
        include ../common/_footer.jade
        .copyright
            a(href="http://chatbox-inc.com/page/member/yasui/" target="_blank") Designed by Yasui Risa