@import "lib/_value.scss";
@import "lib/_mixin.scss";

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: $orange;
  }
}
a.reset {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#hero{
  padding: 0 5px;
  @include page-bottom;
  color:$font_light;
  position: relative;

  .hero__block{
    text-align: center;

    @include mediaPC {
      margin: 2em auto 0;
      max-width: 1200px;
      position: relative;
    }
    .bg__imgA {
      width: 40vw;
      position: absolute;
      left: 3vw;
      top: 28px;


      @include mediaSP {
        width: 29vw;
        top: 10px;
        left: 8vw;
      }
      @include mediaPC {
        width: 27%;
        left: 4%;
      }
    }
    .bg__imgB {
      margin-left: -10vw;
      width: 22vw;
      position: absolute;
      left: 50%;
      top: 80px;

      @include mediaSP {
        top: 30px;
      }
      @include mediaPC {
        margin-left: 0vw;
        width: 16%;
        left: 42%;
        top: 10px;
      }
    }
    .bg__imgC {
      width: 33vw;
      position: absolute;
      right: 2vw;
      top: 50px;
      @include mediaSP {
        width: 28vw;
        top: 20px;
        right: 5vw;
      }
      @include mediaPC {
        width: 23%;
        right: 2%;
      }
    }
    .bg__imgD {
      width: 35vw;
      position: absolute;
      right: 2vw;
      top: 190px;
      @include mediaSP {
        width: 28vw;
        top: 170px;
        right: 6vw;
      }
      @include mediaPC {
        width: 27%;
        top: 260px;
        right: 5%;
      }
    }
    .bg__imgE {
      margin-left: -20vw;
      width: 30vw;
      position: absolute;
      left: 50%;
      top: 290px;
      @include mediaSP {
        margin-left: -13vw;
        width: 24vw;
        top:270px;
      }
      @include mediaPC {
        margin-left: 0;
        width: 22%;
        left: 35%;
        top: 450px;
      }

    }
    .bg__imgF {
      width: 27vw;
      position: absolute;
      left: 3vw;
      top: 200px;
      @include mediaSP {
        top: 210px;
        width: 21vw;
        left: 12vw;
      }
      @include mediaPC {
        width: 16%;
        top: 340px;
        left: 14%;
      }
    }
  }

  .hero__title-area {
    z-index: 100;
    margin: 0 auto;
    margin-top: 60px;
    display: inline-block;
    width: 100%;
    height: 270px;
    position: relative;
    background-image: url(../../img/frame@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mediaPC {
      height: 480px;
    }

  }
  .hero__title_block {
    margin: auto;
    width: 50%;
    height: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
  .hero__title {
    display: inline-block;
    font-size: 25px;
    line-height: 1.4;
    @include mediaPC {
      font-size: 2.5em;
    }
  }
  .hero__infomation {
    margin: 1.7em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: $font_set_ja;
    @include mediaPC {
      margin-top: 3em;
      font-size: 1.4em;
    }

  }
  .hero__action-area {
    display: inline-block;
    width: 100%;
    .btn {
      @include btn;
    }
  }
}

#concept {
  @include page-bottom;
  background: linear-gradient(to bottom,  rgba(254,225,176,0.01) 0%,rgba(255,253,240,0.58) 38%,rgba(255,255,251,0.9) 59%,rgba(255,255,255,0.9) 66%);
  .container {
    text-align: center;
    max-width: 1200px;
  }
  .concept__heading {
    color: $font_light;
    font-size: 20px;
    @include heading(white);
    @include mediaPC {
      position: relative;
    }
  }

  .concept__block {
    margin-top: 2em;
    background:url("../../img/concept_bg_sp.png") ;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include mediaPC {
      background: url("../../img/concept_bg.png") no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      min-width: 100%;
    }

  }
  .concept__text {
    p {
      margin: 2em 0;
      line-height: 2;
    }
    margin-top: 40px;
    padding-bottom: 80px;
    display: inline-block;
    max-width: 250px;
    font-family: $font_set_ja;
    .en {
      @include en;
    }
    @include mediaPC {
      max-width: 750px;
    }
  }
}

#speaker {
  text-align: center;
  @include page-bottom;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.01+0,0.9+0,0.7+15,0+50,0.7+85,0.9+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 15%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 15%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.7) 85%,rgba(255,255,255,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 15%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.7) 85%,rgba(255,255,255,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-9 */

  .container {
    max-width: 1200px;
  }
  .speaker__heading {
    font-size: 20px;
    @include heading(color);
    @include mediaPC {
      position: relative;
    }
  }
  .speaker__block {
    margin: 2em 0;
  }
  .speaker__lists{
    display: flex;
    flex-wrap: wrap;
    @include mediaPC {
    }
  }
  .speaker__list {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    padding: 0 0 2rem;
    @include mediaPC {
      display: inline-block;
      min-width: 48%;
      max-width: 48%;
      &:nth-child(odd) {
        padding: 3% 1% 3% 1%;
      }
      &:nth-child(even) {
        padding: 3% 1% 3% 1%;
      }
    }
  }
  .speaker__list__pict {
    width: 40%;
    border-radius: 50%;
    max-width: 160px;
  }
  .speaker__list__name {
    color: $font_light;
    padding-bottom: .6rem;
    @include mediaPC {
      padding-bottom: 1rem;
    }
  }
  .speaker__list__balloon--designer {
    @include balloon-topPage($light-pink);
  }
  .speaker__list__balloon--markup {
    @include balloon-topPage($light-yellow);
  }
  .speaker__list__balloon--engineer {
    @include balloon-topPage($light-blue);
  }
  .speaker__link-area {
    display: inline-block;
    width: 100%;
    .btn {
      @include btn;
    }
  }
}

#sponsor {
  @include page-bottom;
  padding-bottom: 6em;
  @include gradation;

  .container {
    text-align: center;
    max-width: 1200px;
  }
  .sponsor__intoro {
    margin: 2em 0 4em;
  }
  .sponsor__heading {
    font-size: 20px;
    @include heading(color);
    @include mediaPC {
      position: relative;
    }
  }
  .sponsor__block {

  }
  .sponsor__lists {
    width:100%;
    text-align: center;
  }
  .sponsor__list {
    display: inline-block;
    margin: 0 0 1.2em;
    padding:0 0 2em;
    width: 100%;
    background: #fff;
    border-radius: 25px;

    @include mediaPC {
      margin: 0 .5em 1.2em;
      padding: 1em .5em 2em;
      width: 44%;
    }
  }
  .sponsor__list__pict {
    display: inline-block;
    margin-top: 1em;
    width: 130px;
    height: 110px;
    background: url(../../img/sponsor01.png) no-repeat center;
    background-size: contain;
  }
  .sponsor__list__title {
    font-size: 1.3em;
    font-weight: bold;

    span {
      display: block;
      font-size: .7em;
    }
  }
  .sponsor__list__detail {
    margin: 1em 0;

  }
  .sponsor__list__share {
    display: inline-block;
    margin-bottom: 2em;
    padding: 2em;
    max-width: 500px;
    background-color: lighten( $font, 37% );
    border-radius: 9999px;

    p {
      margin-bottom: 1em;
      font-size: .9em;
    }
    .btn--tw {
      @include btn--line--sponsor{
        content: "\f099";
      };
    }
    .btn--fb {
      @include btn--line--sponsor{
        content: "\f09a";
      }
    }

  }
  .sponsor__list__point {
    margin-bottom: 1em;
    font-size: .8em;
  }

  .btn--sponsor {
    @include btn--sponsor;
  }


}

#sponsoredBy {
  padding-bottom: 3em;
  text-align: center;
  @include page-bottom;
  @include gradation--top;

  .container {
    max-width: 1200px;
  }
  .sponsoredBy__heading {
    font-size: 20px;
    @include heading(color);
    @include mediaPC {
      position: relative;
    }
  }
  .sponsoredBy__block {
    margin: 2em 0;
  }
  .sponsoredBy__list {
    display: inline-block;
    margin-bottom: 30px;
    @include mediaPC {
      height: 200px;
      margin: 30px;
    }
  }
  .sponsoredBy__list__logo {
    width: 100%;
    max-width: 400px;
    @include mediaPC {
      width: 400px;
    }
  }
  .sponsoredBy__link-area {
    display: inline-block;
    width: 100%;
    .btn {
      @include btn;
    }
  }
}

#summary {
  text-align: center;
  @include page-bottom;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.01+0,0+0,0+50,0.7+85,0.9+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.7) 85%,rgba(255,255,255,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.7) 85%,rgba(255,255,255,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-9 */


  .container {
    max-width: 1200px;
  }
  .summary__heading {
    font-size: 20px;
    color: $font_light;
    @include heading(white);
    @include mediaPC {
      position: relative;
    }
  }
  .summary__lists {
    text-align: left;
    list-style: none;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 4em;
    @include mediaPC {
      padding-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 80VW;
      max-width: 800px;
    }
  }
  .summary__list {
    background-color: rgba(205,50,25,.2);
    margin-bottom: 0.5rem;
    height: 3.5rem;
    @include mediaPC {
      height: 5rem;
    }
  }
  .summary__list__heading {
    display: inline-block;
    line-height: 3.5rem;
    background-color: #FFF;
    font-size: .8rem;
    text-align: center;
    width: 30%;
    @include mediaPC {
      width: 20%;
      font-size: 1rem;
      line-height: 5rem;
    }
  }
  .summary__list__content {
    word-wrap: break-word;
    vertical-align: middle;
    width: 65%;
    display: inline-block;
    line-height: 1rem;
    padding-left: .5rem;
    color: $font_light;
    font-size: .8rem;
    @include mediaPC {
      line-height: 5rem;
      padding-left: 1.5rem;
      font-size: 1rem;
    }
  }
  .summary__list__contactLink {
    color: $font_light;
    text-decoration: underline;
  }
}

#share {
  background: rgba(255,255,255,.9);

  .container {
    @include page-bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .share__heading {
    font-size: 20px;
    @include heading(color)
  }
  .share__block {

  }
  .opacoty {
    opacity: .1;
  }
  .bg__imgA {
    width: 40vw;
    position: absolute;
    left: 3vw;
    top: 28px;
    @include mediaSP {
      width: 29vw;
      top: 10px;
      left: 8vw;
    }
    @include mediaPC {
      width: 27%;
      left: 4%;
    }
  }
  .bg__imgB {
    margin-left: -10vw;
    width: 22vw;
    position: absolute;
    left: 50%;
    top: 80px;

    @include mediaSP {
      top: 30px;
    }
    @include mediaPC {
      margin-left: 0vw;
      width: 16%;
      left: 42%;
      top: 10px;
    }
  }
  .bg__imgC {
    width: 33vw;
    position: absolute;
    right: 2vw;
    top: 50px;
    @include mediaSP {
      width: 28vw;
      top: 20px;
      right: 5vw;
    }
    @include mediaPC {
      width: 23%;
      right: 2%;
      top: 3%;
    }
  }
  .bg__imgD {
    width: 35vw;
    position: absolute;
    right: 2vw;
    top: 190px;
    @include mediaSP {
      width: 28vw;
      top: 170px;
      right: 6vw;
    }
    @include mediaPC {
      width: 27%;
      top: 40%;
      right: 5%;
    }
  }
  .bg__imgE {
    margin-left: -20vw;
    width: 30vw;
    position: absolute;
    left: 50%;
    top: 290px;
    @include mediaSP {
      margin-left: -13vw;
      width: 24vw;
      top:270px;
    }
    @include mediaPC {
      margin-left: 0;
      width: 22%;
      left: 35%;
      top: 60%;
    }

  }
  .bg__imgF {
    width: 27vw;
    position: absolute;
    left: 3vw;
    top: 200px;
    @include mediaSP {
      top: 210px;
      width: 21vw;
      left: 12vw;
    }
    @include mediaPC {
      width: 16%;
      top: 60%;
      left: 14%;
    }
  }
  .share__intoro {
    position: relative;
    z-index: 1;
    padding: 2em;
    .en {
      @include en;
    }
    @include mediaPC {
      padding: 4em 0;
    }
  }
  .share__action-area {
    position: relative;
    z-index: 1;
    .btn--tw {
      @include btn__line{
        content: "\f099";
      };
    }
    .btn--fb {
      @include btn__line{
        content: "\f09a";
      }
    }
  }

}
