@import "node_modules/normalize.css/normalize.css";
@import "lib/_value.scss";
@import "lib/_mixin.scss";
@charset  "UTF-8";

::selection {
  background: rgba(225,225,225,.4);
  color: $font;
}

//Firefox
::-moz-selection {
  background: #000;
  color: #fff;
}

body{

  width: 100%;
  height: 100%;

  font-size: 15px;
  font-family: $font_set_en;
  font-weight: normal;
  color: $font;
  line-height:1.8;

  @include mediaPC {
    font-size: 18px;
  }

  h1 {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
  }
  h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
    font-size: 20px;
    padding: .4em;
  }
  a {
    text-decoration: none;
  }
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.background {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

@import "_top.scss";
@import "_session.scss";

#footer {
  padding: 20px 0 40px;
  font-size: 13px;
  background: rgba(64,98,111,.8);
  .container {
    text-align: center;
  }
  .footer__sns-area {
    margin: .5em 0 2em;
    .btn {
      @include btn--footer;
      margin: 0 .2em;
    }
  }
  .footer__logo{
    display: inline-block;
    max-width: 180px;
  }
  .footer__lead {
    line-height: 1.2;
    color: $font_light;
    a {
      color:$blue;
      transition: all .3s;
      &:hover {
        color: $orange;

      }
    }
  }
}

.copyright {
  background: rgba(64,98,111,.6);
  text-align: center;
  a {
    font-size:10px;
    color: rgba(255,255,255,.7);
    transition: all .3s;
    &:hover {
      color:$orange;
    }
  }

}