section#hero
  .hero__block
    .hero__title-area
      .hero__title_block
        h1.hero__title FRONTEND
          br
          | CONFERENCE
          br
          | 2017
    img.bg__imgA(src="./img/photo_A@2x.png")
    img.bg__imgB(src="./img/photo_B@2x.png")
    img.bg__imgC(src="./img/photo_C@2x.png")
    img.bg__imgD(src="./img/photo_D@2x.png")
    img.bg__imgE(src="./img/photo_E@2x.png")
    img.bg__imgF(src="./img/photo_F@2x.png")
    .hero__infomation
      p 2017年3月18日、大阪にて開催
    .hero__action-area
      .btn
        a(href="https://goo.gl/forms/URIT4Lc50V3nAKWa2" target="_blank")
          span SPEAKER募集
      .btn
        a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72" target="_blank")
          span SPONSOR募集