section#concept
  .container
    .concept__heading
      h2.title CONCEPT
    .concept__block
      .concept__text
        p 2017年の
          br
          | FRONTEND CONFERENCE
          br
          | のコンセプトについて
        p テーマは「
          span.en つながる
          |」
        p Web制作にまつわるフロントエンドの世界は今も大きく変化し続けています。デザイン、コーディング、エンジニアリング、日々変化する技術の中から、必要なものを紡ぎ、1つのWebページに「つないでいく」
          | Webで働く全ての人のためのイベント、FRONTEND CONFERENCEでは、現場に活きる様々なWeb制作のあり方をセッションやハンズオンイベントを通じて紹介していきます。
        p 技術と技術、ヒトとヒトとの繋がりがきっと見つかるFRONTEND CONFERENCEで、「Web制作のイマとこれから」を一緒に見つけてみませんか？
