section#sponsoredBy
    .container
        .sponsoredBy__heading
            h2.title SPONSORED BY
        .sponsoredBy__block
            .sponsoredBy__lists
                a.sponsoredBy__list(href="http://reas.jp/" target="_blank")
                    img.sponsoredBy__list__logo(src="./img/sponsor/bnr_reas.png")

                a.sponsoredBy__list(href="http://chatbox-inc.com/" target="_blank")
                    img.sponsoredBy__list__logo(src="./img/sponsor/bnr_chatbox.png")

    .sponsoredBy__link-area
        .btn
            a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72",target="_blank")
                span SPONSOR になる