section#sponsoredBy
    .container
        .sponsoredBy__heading
            h2.title SPONSORED BY
        .sponsoredBy__block
        .sponsoredBy__link-area
            .btn
                a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72",target="_blank")
                    span SPONSOR になる