section#summary
    .container
        .summary__heading
            h2.title SUMMARY
        .summary__block
            ul.summary__lists
                li.summary__list
                    .summary__list__heading 日時
                    .summary__list__content 2017年3月18日（土）10:00-18:00
                li.summary__list
                    .summary__list__heading 場所
                    .summary__list__content: a.reset(href="http://www.temmacenter.com/shin_umeda/access/index.html",target="_blank") 新梅田研修センター
                li.summary__list
                    .summary__list__heading 主催
                    .summary__list__content 関西フロントエンドUG
                li.summary__list
                    .summary__list__heading 対象者
                    .summary__list__content Web制作に携わるすべての人へ
                li.summary__list
                    .summary__list__heading 定員
                    .summary__list__content 300名
                li.summary__list
                    .summary__list__heading 参加登録
                    .summary__list__content 2月中旬頃発表
                li.summary__list
                    .summary__list__heading ハッシュタグ
                    .summary__list__content: a.reset(href="https://twitter.com/hashtag/frontkansai",target="_blank") #frontkansai
                li.summary__list
                    .summary__list__heading お問合わせ
                    .summary__list__content
                        |お問合わせは
                        a.summary__list__contactLink(href="/#footer") こちら