section#share
  .container
    .share__heading
      h2.title SHARE
    .share__block
      img.bg__imgA.opacoty(src="./img/photo_A@2x.png")
      img.bg__imgB.opacoty(src="./img/photo_B@2x.png")
      img.bg__imgC.opacoty(src="./img/photo_C@2x.png")
      img.bg__imgD.opacoty(src="./img/photo_D@2x.png")
      img.bg__imgE.opacoty(src="./img/photo_E@2x.png")
      img.bg__imgF.opacoty(src="./img/photo_F@2x.png")
      .share__intoro
        p  SNSで「
          span.en つながり
          |」の
          br
          | きっかけを広めよう
      .share__action-area
        .btn--tw
          a(href="https://twitter.com/share?url=http://kfug.jp/frontconf2017/&amp;text=FRONTEND CONFERENCE 2017｜関西フロントエンドUG&hashtags=frontkansai" target="_blank")
            span Twitterでシェア
        .btn--fb
          a(href="https://www.facebook.com/sharer/sharer.php?u=http://kfug.jp/frontconf2017/" target="_blank")
            span Facebookでシェア