head
  meta(charset="utf-8")
  style(src="css/style.css")
  title ページタイトル｜サブタイトル
  meta(name="description", content="ディスクリプションのコメント")
  link(rel="canonical", href="ホームのURL")
  link(rel="icon", type="image/png",href="./img/favicon.ico")
  meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
  link(href="https://fonts.googleapis.com/css?family=Capriola", rel='stylesheet')
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  link(rel="stylesheet", href="./assets/css/common.css")
  meta(property="og:title", content="FBのOGPタイトル")
  meta(property="og:image", content="OGP画像URL")
  meta(property="og:description", content="FBのOGPコメント")
  meta(property="og:url", content="ホームのURL")
  meta(property="fb:app_id", content="1601600146818094")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content="@frontkansai")
  meta(name="twitter:creator", content="@frontkansai")
  meta(name="twitter:title", content="Grand Frontend Osaka 2016｜関西フロントエンドUG")
  meta(name="twitter:description", content="今年も開催！大阪夏、フロントエンドの最先端を目指すWebの祭典、Grand Frontend Osaka 2016！")
  meta(name="twitter:image", content="http://kfug.jp/gfo2016/img/ogp.png")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="./lib/wow.min.js")
  script(type="text/javascript", src="./assets/js/common.bundle.js")