doctype html
html(lang="ja")
  include _head.jade
  body
    .background
    include top/_sec_hero.jade
    include top/_sec_concept.jade
    include top/_sec_speaker.jade
    include top/_sec_sponsor.jade
    include top/_sec_sponsoredBy.jade
    include top/_sec_summary.jade
    include top/_sec_share.jade
    include common/_footer.jade
    .copyright
      a(href="http://chatbox-inc.com/page/member/yasui/" target="_blank") Designed by Yasui Risa