section#footer
  .container
    .footer__contents
      .footer__logo-area
        img.footer__logo(src="./img/KFUG_logo@2x.png")
      .footer__sns-area
        .btn
          a(href="https://twitter.com/frontkansai" target="_blank") Twitter
        .btn
          a(href="https://www.facebook.com/frontconf2017" target="_blank") Facebook
        .btn
          a(href="https://kfug.connpass.com/" target="_blank") connpass
      .footer__lead
        p お問い合わせは
          a(href="https://www.facebook.com/frontconf2017" target="_blank") Facebookページ
          | または
          a(href="https://twitter.com/frontkansai" target="_blank") Twitter公式アカウント
          | よりお願いします。
        p 関西フロントエンドUGのイベント情報は
          a(href="https://kfug.connpass.com/" target="_blank") connpassページ
          | や
          a(href="https://www.facebook.com/groups/kansai.frontend/" target="_blank") Facebookグループ
          | よりご確認ください。

